/* css media queries here */

/* for mobile devies */
@media (max-width: 425px) {

    .navbar {
        display: none;
    }

    /* bannner responsive for mobile */
    .banner-wrapper {
        flex-direction: column;
    }

    .banner-details h1 {
        font-size: 36px;
        line-height: 50px;
    }

    .banner-image {
        width: 300px;
        height: 249px;
        margin-top: 50px;
    }

    .banner-image img {
        width: 100%;
    }

    /* player responsive for mobile */

    .players-section {
        width: 100%;
        margin: auto;
    }

    .players-wrap {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 20px;
        margin-top: 20px;
        justify-items: center;
    }
    .player {
        width: 300px;
        padding: 20px;
    }
    .player-img{
        width: 300px;
    }
    .player-img img{
        width: 100%;
    }

    /* highlight responsive optional for mobile*/
    .highlight{
            display: flex;
            flex-direction: column;
            width: 80%;
            margin: 0 auto;
            align-items: center;
        }
        .highlight-image {
            Width: 318px;
            Height: 248px;
            padding: 20px;
            margin-top: 20px;
            margin-left: 20px;
        }
        
        .highlight-image img {
            width: 100%;    
        }
        .heighlight-description{
            width: 320px; 
            margin-left: 20px;
        }
        .heighlight-description h1{
            font-size: 25px;
        }
    /* game schedule responsive css */
    .games-schedule-wrap{
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin: 20px auto;
    }

    /* signup section css responsive */
    .signup-section {
        height: 235px;
    }

    .signup-wrap {
        height: 100%;
        align-items: flex-start;
        margin-left: 20px;
    }

    .signup-wrap h3 {
        font-size: 14px;
    }

    .signup-wrap h1 {
        font-size: 18px;
        margin-top: 10px;
    }

    .signup-wrap input {
        padding: 5px 10px;
        margin-top: 10px;
    }

    /* footer responsive css here */
    .footer-section{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer-images {
        width: 270px;
    }

    .footer-images img {
        width: 100%;
    }

    .social-icon {
        width: 170px;
        margin: 0 auto;
    }
    .social-icon a {
        margin: 5px 2px;
    }

    .social-icon a i {
        font-size: 15px;
    }
}